/* 수정금지~~~~ */


iframe {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} 

/* main=================================================================== */
#main {
	margin-left: 250px;
	background-color:black;
	
}

