.main {
	background-color: #111;
	overflow-x: hidden;
	overflow-y: auto;

    /* 글자 부드럽게 */
	-webkit-text-stroke: 0.25px;
	-webkit-text-stroke: 0.25px rgba(0, 0, 0, 0.1);
	text-shadow: #444 0px 1px 1px;
}

